.one-switch-wrap
  width 100%

.one-switch-content
  width 100%

  &.active
    overflow hidden

.one-switch-horizontal
  display table
  table-layout fixed
  width 100%

.one-switch-content-item
  display table-cell